.container {
  padding: 10px;
  margin-left: auto;
}

.items {
  border: 1px solid silver;
  list-style: none;
  min-width: 350px;
  min-height: 50px;
  padding: 10px;
}

.list {
  list-style: none;
  padding: 0;
}