.container {
    margin-right: 20px;
}

.list {
    padding: 0;
}

.row {
    padding: 10px;
    padding-left: 0;
    border-bottom: 1px solid silver;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.productName {
    margin-right: 40px;
}

.price {
    margin-right: 15px;
    font-size: 20px;
}

.icon {
    cursor: pointer;
    transition: .3s;
}

.icon:hover {
    opacity: .6;
}